.jumbotron {
    background-color: indianred;
    color: whitesmoke;
    border-radius: 0px;
}

.social-link {
    margin-right: 3rem;
    color: deepskyblue;
}

.social-link:hover, .social-link:active, .social-link:focus {
    margin-right: 3rem;
    color: royalblue;
}

.fa {
    font-size: 2rem;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #000a15;
}
.footer {
    width: 100%;
    border-radius: 3px;
    max-width: 800px;
    width: auto;
    padding: 1rem;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.container-box {
    width: auto;
    padding: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: whitesmoke;
    border-radius: 1em;
}


.name {
    color: deepskyblue;
    font-family: "Just Another Hand";
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .name {
        font-size: 6vw;
    }
    .container-box, .footer {
        max-width: 50%;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .name {
        font-size: 12vw;
    }
    .container-box, .footer {
        max-width: 90%;
    }
}

.top-photo {
    border-radius: 50%;
    border: deepskyblue 2px solid;
}

.top {
    margin-top: 7%;
    margin-bottom: 7%;
}

h1 {
    text-align: center;
    font-family: "Helvetica";
}